.load-animation {
    background-color: rgb(83, 83, 83, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    animation: opacity 1s;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 20px solid rgba(255, 255, 255, 0.1);
    border-top-color:#fff   ;
    animation: loading 0.8s linear infinite;
}

.noneLoad{
    display: none;
}