.header-nav{
    background-color: #13131F;
    color: white;
    border-bottom: 3px solid #8B008B ;
    height: 80px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#itens{
    width: 100%;
    display: none;
    margin-top: 30px;
    position: absolute;
}
#burguerMenu, #closeMenu{
    cursor: pointer;
    font-size: 2em;
}
#closeMenu{
    display: none;
}
.nav-bar{
    list-style: none;
    background-color: #13131F;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: absolute;
    line-height: 4em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 0;
    z-index: 100;
}
.nav-bar li{
    width: 100%;
    text-align: center;
}
.nav-bar li:hover{
    cursor: pointer;
    background-color: white;
    color: #13131F;
}
