.header-nav{
    display: flex;
    justify-content: space-around;
    background-color: #13131F;
    color: white;
    align-items: center;
    border-bottom: 3px solid #8B008B ;
    padding: 10px;
    height: 80px;
}
#itens{
    width: 100%;
    position: fixed;
    display: block;
    margin-top: 160px;
}
#burguer-menu{
    cursor: pointer;
    font-size: 2em;
}
.nav-bar{
    list-style: none;
    background-color: red;
    opacity: 30%;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
}