@keyframes down {
    from{
        bottom: 100px;
        opacity: 0.5;
    }
    to{
        bottom: 40px;
        opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}