/* Chaveframes para animação */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--color1) }
}

@keyframes repeat-typing {
    0%, 100% {
        width: 0;
    }
    10%, 90% {
        width: 100%;
    }
}

@keyframes down {
    from{
        bottom: 100px;
        opacity: 0.5;
    }
    to{
        bottom: 40px;
        opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes loading {
    to{
        transform: rotate(360deg);
    }   
}