@media (max-width:716px){
    .intro{
        flex-direction: column;
        justify-content: center;
    }
    .name-description{
        margin-bottom: 3em;
    }
}

@media (max-width:850px){
    dialog{
        flex-direction: column;
    }
    .img-and-info{
        margin-top: 50px;
    }
    .img-modal{
      
    }
    .desciption-project{
        margin-top: 50px;
    }
    .xModal{
        margin-left: auto;
    }
}