@import 'header.css';
@import 'responsive.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #13131F;
}
:target{
    scroll-margin-top: 6em;
}
main{
    max-width: 1000px;
    margin-inline: auto;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Nome e foto*/
.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 140px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
}
.name-description{
    display: flex;
    flex-direction: column;
    max-width: 400px !important;
}
.name-description h2{
    overflow: hidden; /* Esconde o texto excedente */
    border-right: .15em solid white; /* Cria o efeito de escrita */
    white-space: nowrap; /* Evita quebras de linha */
    letter-spacing: .07em; /* Espaçamento entre letras */
    animation:
        typing 3s steps(40, end) infinite,
        blink-caret 1s step-end infinite,
        repeat-typing 8s steps(40, end) infinite;
}
.name-description span{
    color: gray;
}

/* Chaveframes para animação */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}
@keyframes repeat-typing {
    0%, 100% {
        width: 0;
    }
    10%, 90% {
        width: 100%;
    }
}
.div-foto{
    max-width: 300px;
}
.foto{
    max-width: 100%;
    border-radius: 50%;
}




/*Sobre mim */
.sobre-mim{
    max-width: 600px;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-mim p{
    color: gray;
    line-height: 2em;
    text-align: center;
    margin-top: 10px;
}

/*Tecnologias*/
.tecnologias{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}
.itens-tecnologias{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}
#icon{
    font-size: 100px;
    margin-inline: 15px;
    margin-top: 30px;
}
.itens-tecnologias img{
    width: 100px;
    margin-inline: 15px;
    margin-top: 30px;
}



/*Projetos*/
.h2-title{
    margin-top: 5em;
}
.projetos-web-h3{
    margin-right: auto;
    margin-top: 3em;
}
.projetos-web{
    display: flex;
    flex-wrap: wrap;
}
.projeto{
    margin-inline: 10px;
    margin-top: 40px;
    position: relative;
    max-width: 350px;
    cursor: pointer;
}
.projeto div{
    position: absolute;
    color: whitesmoke;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    opacity: 1;
    width: 100%;
    height: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projeto div:hover{
    opacity: 0.5;
    transition: 1s;
}
.projeto img{
    max-width: 350px;
    display: block;
}
.projeto:hover{
    transform: scale(1.05);
    transition: 1s;
}



/*Contato*/
.contato{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
    margin-bottom: 50px;
}
.forma-de-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
}
.forma-de-contato:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.icon-contato{
    max-width: 50px;
    margin-top: 10px;
}
.forma-de-contato a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: gray;
    text-decoration: none;
    cursor: pointer;
}
.forma-de-contato a span:nth-of-type(1){
    color: white;
    margin-bottom: 1px;
    margin-top: 2px;
}



/*arrow up*/
.div-arrow-up{
    border: 2px solid white;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
}
.arrow-up{
    width: 40px;
    height: 40px;
}